body
{
    margin: 0;
    font-family: Arial, sans-serif;
}
* {
    margin: 0;
}
html, body, #map {
    width: 100%;
    height: 100%;
}

#map {
}

button.hide
{
    display: none;
}

h1
{
    position: fixed;
    padding: 20px 10px;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,0.7);
}
.info
{
    position: fixed;
    z-index: 1;
    bottom:0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,0.7);
}
